<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Move</title>
</head>
<body>
    <header>
        <h1>Gestionnaire de fichier</h1>
    </header>
    <div>
        <form action="/move" method="POST">
            <input type="hidden" name="id" id="id"  value="<%= data[0].id %>">
            <input type="hidden" name="name" id="name"  value="<%= data[0].nom %>">
            <input type="hidden" name="pathOld" id="pathOld"  value="<%= data[0].path %>">
            <label>Nom: <%= data[0].nom %></label><br><br>
            <label>Description: <%= data[0].description %></label><br><br>
            <label for="path">Emplacement</label>
            <input type="text" name="path" id="path" value="<%= data[0].path %>"><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>